/* import css */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

/* style rule - selector {declaration} */
/* declaration - {propertyname:value;} */

body{
    background-color: lightblue;
}

/* css variables */
:root{
    --main-color: #05a081;
    --font-family: "Nunito";
}

p{
    font-family: var(--font-family);
}
h3{
    color: var(--main-color) !important;
}
/* important rule */